if user
header(class="pageHeader")
    div(class="navbarBrand")
        div(class="navbarBrand__logo")
            a(href="/")
                img(src="/img/orange_logo.png" alt="logo")
        div(class="navbarBrand__name navbarBrand__name--collapsed")
            img(src="/img/superfuel_brand_orange.png" alt="brand")
    div(class="navbarToggleBtn" id="navbarToggleBtn")
        div(class="hamburger" id="hamburger")
            span
            span
            span
            
    ul(class="navbarUserMenu")
        include _notification
        li
        
            div(class="dropdownToggle navbarUserMenu__userProfile")
                img(class="userProfileImage" src="/img/user_profile.jpg" alt="user_profile_image")
                span kajal
                i(class="fas fa-chevron-down dropdownToggle__button")
            div(class="dropdownMenu userControl")
                a(href="/user/profile-user" class="dropdownMenu__links" title="profile" data-page="profile")
                    i(class="fas fa-id-badge")
                    span Profile
                a(href="/user/settings-user" class="dropdownMenu__links" title="settings" data-page="settings")
                    i(class="fas fa-cog")
                    span Settings
                a(class="dropdownMenu__links" href="/signout" id="signoutbtn")
                    i(class="fas fa-sign-out-alt")
                    span Sign out

