div(class="sidebar")
    ul(class="sidebarMenu sidebarMenu--collapsed")
        li(class=" sidebarMenu__items sidebarMenu__items--title")
            span Main
        li(class="sidebarMenu__items")
            a(href="/dashboardnew" title="dashboardnew" data-page="dashboardnew")
                <i class="far fa-chart-bar"></i>
                <span>Dashboard</span>
        
        li(class="sidebarMenu__items")
            a(href="/quotes-user" title="quotes" data-page="quote_user")
                i(class="fas fa-file-alt")
                span Quotes
       

        li(class="sidebarMenu__items")
            a(href="/payments-user" title="payments" data-page="payments_user")
                i(class="far fa-credit-card")
                span Payments
        
        li(class="sidebarMenu__items sidebarMenu__items--title")
            <span>Personals
        li(class="sidebarMenu__items")
            a(href="/user/profile-user" title="profile" data-page="profile_user")
                i(class="fas fa-id-badge")
                span Profile
        li(class="sidebarMenu__items")
            a(href="/user/settings-user" title="settings" data-page="settings")
                i(class="fas fa-cog")
                span Settings
