extends base

block content
    body
        div(class="pageWrapper")
            include _header
            div(class="pageContent")
                include _sidebar
                div(class="content content--active" id="settings")
                    div(class="newFuelQuote")
                        div(class="newFuelQuote__header")
                            h2 New Fuel Quote
                        div(class="newFuelQuote__body")
                            
                            h2(class="newFuelQuote__bodyHeader") Request Details
                            
                            form(action="/edit-quote" method="post" class="newFuelQuote__requestForm")
                                div(class="newFuelQuote__requestFormItem")
                                    label(for="newFuelQuote__QuoteNumber" required) Quote Number
                                    input(type="number" name="Quote"  required value=('') id="newFuelQuote__QuoteNumber")
                                    
                                div(class="newFuelQuote__requestFormItem")
                                    label(for="newFuelQuote__ChangeStatus") Change Status
                                    div
                                        select(name="Status" id="newFuelQuote__ChangeStatus")
                                            option(value="" selected=(user===undefined ? 'selected' : false) disable) Select
                                            option(value="Accepted" selected=(user && user.state === 'AL' ? 'selected' : false)) Accepted
                                            option(value="Rejected" selected=(user && user.state === 'AK' ? 'selected' : false)) Rejected
                                            option(value="Sent" selected=(user && user.state === 'AZ' ? 'selected' : false)) Sent
                                div(class="newFuelQuote__requestFormItem")
                                div(class="accountSettings__FormGroup newFuelQuote__requestFormItem__button")
                                button(class="accountSettings__FormGroupSubmitButton deleteAccount__FormSubmitButton " type="submit" id="sendRequestEditQuoteButton") Submit
