extends base

block content
    body
        div(class="pageWrapper")
            include _header
            div(class="pageContent")
                include _sidebarnew
                div(class="content content--active" id="profile")
                    div(class="contentHeader")
                        div(class="contentHeader__title contentHeader__invoiceTitle")
                            span Profile
                            div(class="contentHeader__breadcrumb")
                                ul(class="breadcrumb")
                                    li(class="breadcrumb__item")
                                        a(href="/dashboardnew") Dashboard
                                    li(class="breadcrumb__item breadcrumb__item--active")
                                        p Profile
                                        if(user)
                    div(class="profileHeader")
                    
                        div(class="profileHeader__image")
                            img(src="/img/user_profile.jpg" alt="user_profile_image" class="userProfileImage userProfileImage--large")
                        div(class="profileHeader__name" align="right")
                            span #{ user.first_name } #{ user.last_name } 
                        div(class="profileHeader__generalInfo")
                            div
                                i(class="far fa-building")
                                span SomeCompany Name Ltd.
                            div
                                i(class="fas fa-map-marker-alt")
                                span #{user.address1 } 
                            div
                                i(class="far fa-calendar-alt")
                                span #{ user.created_at } 
                    div(class="profileContent")
                        div(class="profileContent__detail")
                            div(class="profileContent__completion")
                                span Profile Completion:
                                span  100% 
                                div(class="profileContent__progressBar profileContent__progressBar--percentage")
                                    div(title="100%" class="progressBar" style="width: 100%" data-current-percentage="100%")
                            div(class="profileContent__personalInfo")
                                div(class="profileContent__personalInfoHeader")
                                    span Profile
                                    button
                                        a(href="/user/settings-user" data-user-id="1")
                                            i(class="fas fa-pen-fancy")
                                            span Edit
                                div(class="profileContent__personalInfoBody")
                                    div(class="profileContent__personalInfoItem")
                                        h2 Contact
                                        div
                                            h2 Email:
                                            span #{user.email } 
                                        div
                                            h2 Phone Number:
                                            span #{user.phone }
                                    div(class="profileContent__personalInfoItem")
                                        h2 Address:
                                        div
                                            div
                                                span Street:
                                                span #{user.address1}
                                            div
                                                span City:
                                                span #{user.city } 
                                            div
                                                span State:
                                                span #{user.state } 
                                            div
                                                span Zipcode:
                                                span #{user.zip_code } 
                                            div
                                                span Country:
                                                span #{user.country } 
                        div(class="profileContent__history")
                            div(class="profileContent__historyHeader")
                                h2 Quote History
                                div(class="profileContent__request")
                                    
                                       button
                                        a(href="request-quote-user" data-user-id="1")
                                            i(class="fas fa-pen-fancy")
                                            span new quote
                            div(class="profileContent__historyActivities")
                                ul(class="historyActivities")
                                    li(class="historyActivities__item")
                                        div(class="historyActivities__itemInfo")
                                            span(class="historyActivities__itemDate") Jun 30, 2021
                                            div(class="historyActivities__itemEvent")
                                                span Full Name
                                                span paid for the invoice
                                                span #DF33040
                                    li(class="historyActivities__item")
                                        div(class="historyActivities__itemInfo")
                                            span(class="historyActivities__itemDate") Jun 31, 2021
                                            div(class="historyActivities__itemEvent")
                                                span Full Name
                                                span paid for the invoice
                                                span #DF33040

